.foods-table {
    thead {
        tr {
            td {
                font-weight: bold;
                padding: $food-panel-item-padding;
            }
        }
    }
    tbody {
        tr {
            td {
                padding: $food-panel-item-padding;
            }
        }
    }
}